body {
    font-family: 'Apple Garamond', serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
  }

  /* navigation bar */
.navigation {
    background-image: linear-gradient(to top, black 25%, white 75%);
    padding: 10px 10px 70px 10px;
    position: fixed;
    top: 0;
    width: 100%;
} 

#resumeRecency {
    font-size: 6px;
    font-weight: 500;
    margin-top: -2px;
    padding-left: 115px;
    color: black;
}

.navigation a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

/* website content */
.brief {
    font-weight: 500;
    text-align: left;
    margin-top: 107px;
}

h2 {
    font-weight: 500;
    text-align: right;
    padding-bottom: 5px;
}

.brief, h2, form {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* right-aligns all items */
    text-align: right;     /* right-aligns text inside inputs */
    gap: 5px;             /* space between stacked items */
    margin-top: -35px;
}

form input::placeholder {
    font-family: 'Apple Garamond', serif;
}

form input[type='text'], form input[type='email'], textarea {
    width: 60%;
    align-self: flex-end;
    font-family: 'Apple Garamond', serif;
}

form input[type='submit'] {
    width: 10%;
    align-self: flex-end;
    font-family: 'Apple Garamond', serif;
    text-align: center;
}

a:hover {
    font-style: italic;
}

/* resume page */
#resume {
    width: 50%;
    height: auto;
    margin-top: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#resumeRecency {
    font-size: 20px;
    font-weight: 500;
    color: white;
    float: right;
    position: fixed;
    bottom: -40px;
    right: 5px;
}

/* blog */

.blogPosts {
    color: white;
    background-image: linear-gradient(to right, black 60%, white 90%);
    width: 40%;
    height: 100vh;
    list-style-type: none;
    display: float;
    float: left;
    margin-top: 0px;
    font-size: 20px;
    padding-top: 10px;
}

.blogPosts .list-item:hover {
    font-style: italic;
}


.blogPost {
    width: 60%;
    height: 100vh;
    margin-top: 107px;
    margin-left: 40%;
    background-color: white;
    color: black;
    padding-top: 10px;
    clear: right;
}